{% extends 'iohome.html' %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center mb-3 mx-3">
        <div class="col-auto text-center">
            <h1> Looks like you are lost in the maze. Go back & find your way out! </h1>
        </div>
    </div>
    <div class="row justify-content-center mb-5 mt-2">
        <div class="col-md-3 col-8">
            <img src="{% static 'images/lost.png' %}" style="max-width: 100%; min-width: 200px;">
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <button class="custbtn btn btn-primary" onclick="history.back()">Go Back</button>
        </div>
    </div>
</div>

{% endblock %}