{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/eventspage.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!--<video autoplay muted loop id="myVideo">
        <source src="{% static 'images/v.mp4' %}" type="video/mp4">
    </video>-->
    <div class="heading mt-5 pt-4">
        {% if dashboard %}
        <h1>Dashboard</h1>
        {% else %}
        <h1>Events</h1>
        {% endif %}
    </div>

    {% if messages %}
        {% for message in messages %}
            <br>
            <h6 id="message" style="text-align: center;">{{ message }}</h6>
        {% endfor %}
    {% endif %}
    <div class="container">
        {% if events %}
        {% for event in events %}
        <div class="box mb-5">
            <span></span>
            <div class="content">
                <img src='../../static/images/{{event.name|add:".png"}}'>
                <h2><i class="fas mb-2"></i>{{ event.name }}</h2>
                <p>
                    <b>Date:</b> {{event.Data.Date}}<br>
                    <b>Time:</b> {{event.Data.Time}}<br>
                    <!-- Venue: {{event.Data.Venue}}-->
                </p>
                <a href="moreInfo/?id={{ event.id }}" id="info">
                    <button class="cbtn btn btn-outline-dark mt-4" 
                        style="border-width: 2px; 
                            background-color: rgba(0, 0, 0, 0.25);">
                        <b>Read More</b>
                    </button>
                </a>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>


{% endblock %}


