{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">

<body>
  <div class="shape shape-t"></div>
  <div class="shape shape-b"></div>
    <div class="container h-100">
      <div class="row h-100 m-auto form-cont">
          <form class="forms p-5 m-auto" method="POST">
            {% csrf_token %}
            <div class="mb-4">
              <h3 class="form-heading">Reset Password</h3>
              <div class="text-danger text-center">
                {% if messages %}
                  {% for message in messages %}
                    <h6>{{ message }}</h6>
                  {% endfor %}
              {% endif %}
              </div>
            </div>
			<div class="mb-4">
				Enter your registered email address and we'll send you a link to reset your password! 
			</div>
            <div class="mb-4">
				        <!-- <label>Email ID</label> -->
              	<input type="email" class="form-control" placeholder="Email ID" id="email" name="email" required>
            </div>

            <div class="w-100 d-flex">
                <a class="cbtn btn btn-dark ms-auto" href="{% url 'login' %}"><b>Back</b></a>
                <button class="ctbn btn btn-primary ms-2"><b>Send Link</b></button>
            </div>
           
          </form>
      </div>
    </div>
</body>

{% endblock %}


{% block footer %}
{% endblock %}