{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_sent.css' %}">

<body>
  <div class="shape shape-t"></div>
  <div class="shape shape-b"></div>
    <div class="container h-100">
      <div class="row h-100 m-auto form-cont">
            <div class="box p-5 m-auto">
                <div class="mb-4">
                <h3 class="form-heading">Password Reset Link Sent</h3>
                </div>
                <div class="mb-4">
                    We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
                    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                </div>
                
                <a class="cbtn btn btn-primary mx-auto" href="{% url 'login_page' %}"><b>Return To Login Page</b></a>
            </div>
      </div>
    </div>
</body>

{% endblock %}


{% block footer %}
{% endblock %}