{% extends 'navbar.html' %}

{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/speakers.css' %}">


<div class="heading mt-5 pt-4 mb-3 text-center">
    <h1>Speakers</h1>
</div>


<div class="container mt-3">
    <div class="row justify-content-center mx-3">
        <div class="box col-lg-10 col-md-12 col-12 mt-5 mb-4 p-4">
            <div class="row p-1">
                <div class="col-md-5 d-flex align-items-center mb-md-0 mb-4">
                    <img style="width: 100%; border-radius: 10px; margin: auto;" src="{% static 'images/speakers/sandeep_jain.jpg' %}">
                </div>
                <div class="col-md-7 ps-4">
                    <div class="speaker_header mb-4">
                        <h2><b>Sandeep Jain</b></h2>
                        <h4 style="color: #cd25c7; font-weight: bold;">Founder & CEO at GeeksforGeeks</h4>
                        <!--<span class="minutes">26th Nov</span>
                        <p class="type">8:30 PM onwards</p>-->
                    </div>
                    <div class="speaker_desc">
                        <p class="text">
                          GeekforGeeks has been a name not just known but worshipped by the whole student community in the tech field.
                        </p>
                        <p class="text">
                          Meet Mr Sandeep Jain - whose brainchild GeekforGeeks has been an extremely useful and reliable platform for not just coders but technically the whole student community. His honourable motive of providing knowledge free of cost and inspiring students to learn has made him an inspiration.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="box col-lg-10 col-md-12 col-12 mt-5 mb-4 p-4">
          <div class="row p-1">
              <div class="col-md-5 d-flex align-items-center mb-md-0 mb-4">
                  <img style="width: 100%; border-radius: 10px; margin: auto;" src="{% static 'images/speakers/ashris_choudhury.png' %}">
              </div>
              <div class="col-md-7 ps-4">
                  <div class="speaker_header mb-4">
                      <h2><b>Ashris Choudhury</b></h2>
                      <h4 style="color: #cd25c7; font-weight: bold;">Founder & Creator at India In Pixels</h4>
                      <!--<span class="minutes">26th Nov</span>
                      <p class="type">8:30 PM onwards</p>-->
                  </div>
                  <div class="speaker_desc">
                      <p class="text">
                        Besides being a software engineer and having been associated with companies like BharatPe and HeadsUp, Ashris has a burning passion for the field of design and architecture.
                      </p>
                      <p class="text">
                        This passion along with his fantastic research skills has paved the way for him to create India in Pixels.
                      </p>
                      <p class="text">
                        India in Pixels is a data visualization content platform focusing on presenting data about India in attractive data visualizations and is a family of more than 300K people.

                      </p>
                  </div>
              </div>
          </div>
      </div>

      <div class="box col-lg-10 col-md-12 col-12 mt-5 mb-4 p-4">
        <div class="row p-1">
            <div class="col-md-5 d-flex align-items-center mb-md-0 mb-4">
                <img style="width: 100%; border-radius: 10px; margin: auto;" src="{% static 'images/speakers/ashris_choudhury.png' %}">
            </div>
            <div class="col-md-7 ps-4">
                <div class="speaker_header mb-4">
                    <h2><b>Ashris Choudhury</b></h2>
                    <h4 style="color: #cd25c7; font-weight: bold;">Founder & Creator at India In Pixels</h4>
                    <!--<span class="minutes">26th Nov</span>
                    <p class="type">8:30 PM onwards</p>-->
                </div>
                <div class="speaker_desc">
                    <p class="text">
                      Besides being a software engineer and having been associated with companies like BharatPe and HeadsUp, Ashris has a burning passion for the field of design and architecture.
                    </p>
                    <p class="text">
                      This passion along with his fantastic research skills has paved the way for him to create India in Pixels.
                    </p>
                    <p class="text">
                      India in Pixels is a data visualization content platform focusing on presenting data about India in attractive data visualizations and is a family of more than 300K people.

                    </p>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}


