{% extends 'navbar.html' %}
{% load static %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/sponsors.css' %}" />

<div class="heading mt-5 pt-4 mb-3 text-center">
    <h1>Sponsors</h1>
</div>


<div class="container">
        <div class="outerbox p-4 my-5 mx-4" id="smallouterbox">
            <div class="sponsorheading">
                <p>Title Sponsor</p>
            </div>
            <div class="row py-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="https://www.aeccglobal.in/" class="sponsor py-2" >
                        <img src="{% static 'images/sponsors/aecc.webp' %}" alt="" class="p-1">
                    </a>
                </div>
            </div>
        </div>

        <div class="outerbox p-4 my-5 mx-4" id="smallouterbox">
            <div class="sponsorheading">
                <p>Technical Sponsor</p>
            </div>
            <div class="row py-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="https://www.vistaran.tech/" class="sponsor py-2" >
                        <img src="{% static 'images/sponsors/vistarantechtronix.png' %}" alt="" class="p-1"
                        style="max-height: 200px;">
                    </a>
                </div>
            </div>
        </div>

        <div class="outerbox p-4 my-5 mx-4" id="smallouterbox">
            <div class="sponsorheading">
                <p>Banking Partner</p>
            </div>
            <div class="row py-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="https://www.varachhabank.com/" class="sponsor py-2" >
                        <img src="{% static 'images/sponsors/varachhabank.svg' %}" alt="" style="background-color: white;" class="py-2">
                    </a>
                </div>
            </div>
        </div>

        <div class="outerbox p-4 my-5 mx-4" id="smallouterbox">
            <div class="sponsorheading">
                <p>Education Partner</p>
            </div>
            <div class="row py-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="https://chahalacademy.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/chahalacademy.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="https://therenaissance.co.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/renaissance.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="outerbox p-4 my-5 mx-4" id="smallouterbox">
            <div class="sponsorheading">
                <p>Hospitality Partner</p>
            </div>
            <div class="row py-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="https://www.grandmercure.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/grandmercure.png' %}" alt=""
                            style="background-color: white; max-height: 150px;" class="py-2">
                    </a>
                </div>
            </div>
        </div>

        <div class="outerbox p-4 my-5 mx-4" id="smallouterbox">
            <div class="sponsorheading mb-3">
                <p>Travel Partner</p>
            </div>
            <div class="row mb-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="https://www.akasaair.com/" class="sponsor py-2" >
                        <img src="{% static 'images/sponsors/akasaair.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="outerbox p-4 my-5 mx-4" id="smallouterbox">
            <div class="sponsorheading">
                <p>Social Media Partner</p>
            </div>
            <div class="row py-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="https://www.ahmedabadlive.co.in/" class="sponsor py-2" >
                        <img src="{% static 'images/sponsors/ahmedabadlive.png' %}" alt=""
                        style="max-height: 150px;">
                    </a>
                </div>
            </div>
        </div>

        <div class="outerbox p-4 my-5 mx-4" id="smallouterbox">
            <div class="sponsorheading mb-3">
                <p>Exclusive Cubing Partner</p>
            </div>
            <div class="row mb-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <a href="https://www.cubelelo.com" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/CubeleloLogo.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="outerbox p-4 my-5 mx-4" id="smallouterbox">
            <div class="sponsorheading mb-3">
                <p>Wealth Management Partner</p>
            </div>
            <div class="row mb-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.sapientwealth.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/sapient.png' %}" alt="" class="p-2"
                        style="background-color: white; max-height: 150px;">
                    </a>
                </div>
            </div>
        </div>

        <div class="outerbox p-4 my-5 mx-4" id="smallouterbox">
            <div class="sponsorheading mb-3">
                <p>Oil Partner</p>
            </div>
            <div class="row mb-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.sapientwealth.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/iocl.jpg' %}" alt="" class="p-1"
                        style="background-color: white; max-height: 150px;">
                    </a>
                </div>
            </div>
        </div>

        <div class="outerbox p-4 my-5 mx-4" id="smallouterbox">
            <div class="sponsorheading mb-3">
                <p>Gaming Partner</p>
            </div>
            <div class="row mb-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://ggnation.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/ggnation.svg' %}" alt="" class="" 
                            style="height: 100px;">
                    </a>
                </div>
            </div>
        </div>

        <div class="outerbox p-4 my-5 mx-4">
            <div class="sponsorheading mb-3">
                <p>General Sponsors</p>
            </div>
            <div class="row mb-2 align-items-center justify-content-center mx-2">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="http://ieee.daiict.ac.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/IEEESBDAIICT.png' %}" alt="" class="p-3">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://ieeegujaratsection.org/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/IEEE-GujaratSection.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://gujcost.gujarat.gov.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/GUJCOST.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://licindia.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/lic.png' %}" alt="" class="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://dst.gov.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/dst.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.apollopharmacy.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/apollopharmacy.svg' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.mahindra.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/mahindra.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://garvigurjari.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/GarviGurjari.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://wie.ieee.org/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/wie.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>


        <div class="outerbox p-4 my-5 mx-4">
            <div class="sponsorheading mb-3">
                <p>Past Sponsors</p>
            </div>
            <div class="row mb-2 align-items-center justify-content-center mx-2">

                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.gujarattourism.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/ieee-edu.png' %}" alt="" class="p-3">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.gujarattourism.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/ieee-ias.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.gujarattourism.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/ieee-ies.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.gujarattourism.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/ieee-pels.png' %}" alt="" class="p-3">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.gujarattourism.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/ieee-sensors.png' %}" alt="">
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.gujarattourism.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/GT.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://amritmahotsav.nic.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/azadi.jpg' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://synoptek.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/synoptek.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://yocket.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/yocket.svg' %}" alt="" class="py-2">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.codechef.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/CodeChef.png' %}" alt="" class="p-1">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.endeavorcareers.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/Endeavor.jpg' %}" alt="" class="p-3">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.cubelelo.com" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/A47.jpg' %}" alt="" >
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="http://ceid.daiict.ac.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/DCEI.jpg' %}" alt="" class="p-3">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="http://www.blackposition.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/blackposition.png' %}" alt="" >
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://certifidoc.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/certifidoc_logo.png' %}" alt="" >
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://thelogicfactory.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/tlf.png' %}" alt="" class="p-3">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.redbull.com/in-en/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/redbull.svg' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://solana.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/solana.png' %}" alt="" class="p-4">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://devfolio.co/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/devfolio.png' %}" alt="" class="p-4">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://filecoin.io/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/filecoin.png' %}" alt="" class="p-3">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://polygon.technology/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/polygon.png' %}" alt="" class="p-4">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://replit.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/replit.png' %}" alt="" class="p-4">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.geeksforgeeks.org/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/GFG.png' %}" alt="" style="background-color: white;" class="p-3">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.delhivery.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/delhivery.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://gil.gujarat.gov.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/GIL.png' %}" alt="" class="py-2">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.hackerrank.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/hackerrank.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="http://www.ssipgujarat.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/SSIP.png' %}" alt="" class="py-2">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.juniper.net/us/en.html" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/juniper.png' %}" alt="" class="py-2">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.onlinesbi.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/SBI.png' %}" alt="" class="p-1">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.inoxmovies.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/INOX.jpg' %}" alt="" class="p-3">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.echoar.xyz/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/echoAR.png' %}" alt="" class="p-4">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.careerlauncher.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/careerLauncher.png' %}" alt=""  style="background-color: white;" class="p-4">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.airmeet.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/airmeet.svg' %}" alt="" class="p-4">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="http://beannco.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/beannco.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.ongcindia.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/ONGC.jpeg' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://in.msi.com/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/msi.png' %}" alt="" class="p-3">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://mybyk.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/MYBYK.png' %}" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.divyabhaskar.co.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/divyabhaskar.png' %}" alt="" style="background-color: white;" class="py-2">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.jugnoo.in/" class="sponsor py-2">
                        <img src="{% static 'images/sponsors/past/jugnoo.png' %}" alt="" style="background-color: white;" class="p-3">
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 px-3">
                    <a href="https://www.gnfc.in/" class="sponsor py-2" >
                        <img src="{% static 'images/sponsors/past/GNFC.png' %}" alt="" style="background-color: white;" class="py-2">
                    </a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}


