{% extends 'admin/base.html' %}

{% block title %}
Upload Grievant Data
{% endblock %}


{% block content %}
<h1>Add Users</h1>
<form method="POST" enctype="multipart/form-data" class="form-horizontal"> 
    {% csrf_token %}
    <div class="form-group">
        <div style="margin-bottom: 1% !important;">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">Upload CSV File: </label>
        </div>
        <div style="padding: 0; margin-bottom: 1% !important;">
            <input type="file" name="csvfile" id="csvfile" required="True" class="form-control">
        </div>                    
    </div>
    <div class="form-group">
        <div style="margin-bottom: 1% !important;">
            <label for="gtype" class="col-md-3 col-sm-3 col-xs-12 control-label">Pass Type: </label>
        </div>

        <div class="form-check" style="margin-bottom: 0.5% !important;">
            <input class="form-check-input" type="radio" name="pass" value="silver" checked>
            <label class="form-check-label" for="pass">Silver</label>
        </div>   
        <div class="form-check" style="margin-bottom: 2% !important;">
            <input class="form-check-input" type="radio" name="pass" value="gold">
            <label class="form-check-label" for="pass">Gold</label>
        </div>                   
    </div>
    <div class="form-group">                    
        <div style="margin-bottom: 3%;">
             <input type="submit" value="Add Data">
        </div> 
    </div>
</form>

{% if failed %}
<div>
    The following grievants could not be added properly:<br><br>
    {% for f in failed %}
        {{ f }}<br>
    {% endfor %}
</div>
{% endif %}

{% endblock %}