* {
    margin: 0;
    padding: 0;
}

#bg-stars::-webkit-scrollbar {
    display: none;
}

#bg-stars {
    position: relative;
    height: 100vh;
    margin: auto;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1186px 1672px #fff, 1121px 1350px #fff, 39px 1901px #fff,
        1756px 786px #fff, 1458px 1788px #fff, 1932px 1963px #fff,
        888px 1360px #fff, 499px 1053px #fff, 1344px 319px #fff,
        1477px 1882px #fff, 72px 540px #fff, 1324px 1403px #fff,
        1830px 1553px #fff, 1704px 1635px #fff, 631px 383px #fff,
        212px 1461px #fff, 1282px 954px #fff, 493px 777px #fff, 76px 1608px #fff,
        494px 710px #fff, 291px 1040px #fff, 736px 1648px #fff,
        1311px 1763px #fff, 578px 626px #fff, 773px 926px #fff,
        1598px 1019px #fff, 1249px 1364px #fff, 183px 1370px #fff,
        729px 530px #fff, 1902px 709px #fff, 717px 738px #fff, 1091px 367px #fff,
        933px 342px #fff, 830px 234px #fff, 1034px 349px #fff, 1056px 925px #fff,
        1835px 1877px #fff, 62px 1161px #fff, 360px 752px #fff,
        817px 1954px #fff, 1827px 76px #fff, 1344px 335px #fff,
        346px 1337px #fff, 607px 1232px #fff, 1689px 61px #fff,
        1545px 1964px #fff, 203px 1px #fff, 1212px 453px #fff, 1979px 216px #fff,
        273px 149px #fff, 42px 1923px #fff, 1008px 294px #fff,
        1386px 1694px #fff, 594px 53px #fff, 1953px 267px #fff, 513px 297px #fff,
        668px 876px #fff, 1264px 1867px #fff, 1496px 1159px #fff,
        1778px 654px #fff, 790px 1092px #fff, 1317px 1723px #fff,
        1006px 177px #fff, 839px 1236px #fff, 68px 272px #fff, 686px 702px #fff,
        1324px 186px #fff, 763px 1595px #fff, 1856px 1234px #fff,
        1691px 1431px #fff, 1421px 1540px #fff, 156px 1939px #fff,
        139px 1476px #fff, 1968px 697px #fff, 1488px 1495px #fff,
        895px 1528px #fff, 1321px 1463px #fff, 1670px 1315px #fff,
        1012px 1367px #fff, 150px 557px #fff, 1573px 771px #fff,
        313px 1337px #fff, 11px 18px #fff, 1659px 293px #fff, 1398px 276px #fff,
        1360px 279px #fff, 1409px 578px #fff, 663px 1295px #fff,
        1614px 1848px #fff, 411px 141px #fff, 1522px 381px #fff,
        1693px 172px #fff, 767px 1800px #fff, 1329px 1447px #fff,
        1362px 1091px #fff, 295px 2px #fff, 1207px 1661px #fff, 603px 961px #fff,
        1165px 1999px #fff, 1027px 1034px #fff, 1399px 47px #fff,
        589px 991px #fff, 1088px 1859px #fff, 731px 1144px #fff,
        2000px 1709px #fff, 384px 1588px #fff, 251px 162px #fff,
        397px 1247px #fff, 760px 718px #fff, 113px 1762px #fff, 792px 155px #fff,
        209px 773px #fff, 278px 1430px #fff, 1403px 1403px #fff,
        1973px 851px #fff, 696px 1599px #fff, 68px 1344px #fff, 1355px 64px #fff,
        1563px 1168px #fff, 1555px 1914px #fff, 1449px 394px #fff,
        631px 1106px #fff, 886px 1647px #fff, 1208px 1771px #fff,
        1655px 767px #fff, 1343px 977px #fff, 1359px 1942px #fff,
        1542px 1108px #fff, 1090px 435px #fff, 484px 539px #fff,
        1535px 312px #fff, 1592px 1163px #fff, 1646px 1282px #fff,
        1785px 797px #fff, 903px 653px #fff, 1781px 771px #fff,
        1730px 1430px #fff, 201px 910px #fff, 1379px 474px #fff,
        322px 1438px #fff, 1132px 331px #fff, 191px 1426px #fff,
        889px 1118px #fff, 1486px 910px #fff, 942px 278px #fff, 30px 795px #fff,
        1189px 1449px #fff, 743px 446px #fff, 1702px 1075px #fff,
        1470px 1242px #fff, 326px 1175px #fff, 485px 475px #fff,
        150px 934px #fff, 51px 1136px #fff, 1055px 967px #fff,
        1539px 1629px #fff, 1210px 1621px #fff, 568px 80px #fff,
        1139px 809px #fff, 879px 22px #fff, 1993px 1602px #fff,
        1749px 1105px #fff, 477px 105px #fff, 890px 84px #fff, 166px 97px #fff,
        1443px 745px #fff, 357px 544px #fff, 1475px 1141px #fff, 1703px 8px #fff,
        1105px 1909px #fff, 829px 800px #fff, 480px 822px #fff,
        1072px 497px #fff, 974px 967px #fff, 231px 1920px #fff,
        1702px 138px #fff, 892px 810px #fff, 292px 133px #fff,
        1247px 1152px #fff, 633px 641px #fff, 268px 833px #fff,
        1306px 1505px #fff, 764px 228px #fff, 1569px 1058px #fff,
        317px 1824px #fff, 260px 426px #fff, 1665px 737px #fff, 310px 808px #fff,
        946px 1290px #fff, 890px 37px #fff, 2px 1989px #fff, 1610px 696px #fff,
        1974px 1882px #fff, 562px 1345px #fff, 1041px 659px #fff,
        1473px 879px #fff, 1104px 691px #fff, 205px 1545px #fff,
        1238px 1900px #fff, 1813px 1459px #fff, 893px 1420px #fff,
        1565px 991px #fff, 995px 424px #fff, 833px 9px #fff, 1284px 1071px #fff,
        768px 1646px #fff, 1975px 1461px #fff, 980px 349px #fff,
        207px 1018px #fff, 1254px 1496px #fff, 1941px 899px #fff,
        1688px 675px #fff, 717px 1651px #fff, 1111px 1557px #fff,
        666px 1583px #fff, 902px 1696px #fff, 1714px 1714px #fff,
        323px 1936px #fff, 753px 938px #fff, 1354px 207px #fff,
        808px 1467px #fff, 1068px 1668px #fff, 345px 1180px #fff,
        1137px 1386px #fff, 1731px 961px #fff, 194px 845px #fff,
        1525px 1321px #fff, 566px 523px #fff, 462px 1723px #fff,
        465px 1873px #fff, 1728px 143px #fff, 689px 164px #fff, 9px 666px #fff,
        263px 1480px #fff, 550px 745px #fff, 418px 454px #fff, 463px 757px #fff,
        507px 1977px #fff, 1785px 537px #fff, 919px 225px #fff,
        1752px 565px #fff, 873px 1412px #fff, 1002px 1654px #fff,
        770px 1979px #fff, 216px 61px #fff, 1798px 702px #fff, 531px 1742px #fff,
        771px 654px #fff, 198px 1337px #fff, 421px 1368px #fff,
        626px 1276px #fff, 844px 934px #fff, 719px 1583px #fff,
        1557px 306px #fff, 918px 623px #fff, 1448px 1214px #fff,
        1800px 1067px #fff, 1510px 1453px #fff, 858px 423px #fff,
        1338px 1770px #fff, 1440px 1500px #fff, 668px 224px #fff,
        1688px 1876px #fff, 1170px 1576px #fff, 1747px 744px #fff,
        373px 1637px #fff, 814px 1726px #fff, 1189px 791px #fff, 17px 742px #fff,
        1406px 1517px #fff, 360px 110px #fff, 486px 1246px #fff,
        1733px 1055px #fff, 982px 1323px #fff, 1659px 333px #fff,
        1434px 692px #fff, 1806px 1799px #fff, 854px 387px #fff,
        1166px 24px #fff, 139px 1556px #fff, 1470px 681px #fff,
        1625px 829px #fff, 1522px 749px #fff, 1993px 1477px #fff,
        1345px 1643px #fff, 1671px 363px #fff, 481px 1351px #fff,
        1401px 1730px #fff, 1702px 188px #fff, 1358px 44px #fff,
        886px 1250px #fff, 1907px 1029px #fff, 1523px 656px #fff,
        817px 891px #fff, 328px 237px #fff, 749px 1052px #fff, 1057px 165px #fff,
        1368px 120px #fff, 998px 310px #fff, 515px 1611px #fff,
        393px 1634px #fff, 544px 214px #fff, 1985px 838px #fff,
        1985px 1521px #fff, 1286px 309px #fff, 320px 1287px #fff,
        1967px 1199px #fff, 1415px 1479px #fff, 1044px 985px #fff,
        1839px 277px #fff, 1730px 1198px #fff, 552px 1976px #fff,
        1561px 1168px #fff, 1714px 32px #fff, 1075px 881px #fff,
        356px 1212px #fff, 808px 879px #fff, 639px 820px #fff, 1139px 14px #fff,
        958px 978px #fff, 1430px 1891px #fff, 921px 406px #fff,
        1596px 1496px #fff, 812px 782px #fff, 401px 1285px #fff,
        186px 1920px #fff, 1693px 1938px #fff, 1735px 1916px #fff,
        1557px 1322px #fff, 121px 1256px #fff, 1981px 1999px #fff,
        1880px 1894px #fff, 1036px 373px #fff, 568px 1124px #fff,
        100px 1686px #fff, 1205px 729px #fff, 1837px 1051px #fff,
        816px 20px #fff, 335px 188px #fff, 826px 1479px #fff, 10px 1785px #fff,
        1645px 1212px #fff, 444px 1360px #fff, 318px 814px #fff,
        668px 1401px #fff, 220px 1452px #fff, 1274px 391px #fff,
        1952px 621px #fff, 1010px 1867px #fff, 132px 886px #fff,
        627px 832px #fff, 838px 193px #fff, 525px 1732px #fff,
        1999px 1675px #fff, 429px 1218px #fff, 172px 603px #fff,
        1129px 1435px #fff, 371px 1955px #fff, 75px 1193px #fff,
        1374px 1281px #fff, 872px 87px #fff, 164px 49px #fff, 1750px 150px #fff,
        1254px 220px #fff, 1760px 1150px #fff, 483px 1106px #fff,
        1865px 1445px #fff, 1333px 309px #fff, 828px 722px #fff,
        1451px 1087px #fff, 914px 1857px #fff, 1048px 979px #fff,
        1494px 1232px #fff, 427px 968px #fff, 671px 1358px #fff,
        1758px 758px #fff, 896px 1383px #fff, 210px 1380px #fff,
        816px 210px #fff, 285px 333px #fff, 542px 677px #fff, 1464px 97px #fff,
        1811px 388px #fff, 95px 883px #fff, 333px 227px #fff, 189px 623px #fff,
        1463px 1863px #fff, 1248px 512px #fff, 159px 40px #fff,
        390px 1400px #fff, 1534px 476px #fff, 54px 449px #fff, 970px 560px #fff,
        1553px 1626px #fff, 237px 912px #fff, 1123px 1606px #fff, 7px 395px #fff,
        1536px 672px #fff, 158px 1604px #fff, 420px 787px #fff,
        569px 1667px #fff, 1868px 1249px #fff, 1888px 1043px #fff,
        1482px 1862px #fff, 545px 991px #fff, 1194px 1172px #fff,
        1329px 158px #fff, 1860px 1477px #fff, 768px 1252px #fff,
        173px 456px #fff, 1486px 1504px #fff, 918px 1856px #fff,
        1417px 825px #fff, 1868px 6px #fff, 1332px 1406px #fff, 794px 51px #fff,
        3px 1948px #fff, 307px 529px #fff, 590px 1138px #fff, 600px 933px #fff,
        1254px 1307px #fff, 505px 823px #fff, 468px 183px #fff, 321px 255px #fff,
        1751px 1943px #fff, 1224px 217px #fff, 1071px 987px #fff,
        456px 1192px #fff, 819px 570px #fff, 699px 1255px #fff, 40px 918px #fff,
        923px 1653px #fff, 424px 286px #fff, 1432px 1639px #fff,
        1672px 1877px #fff, 868px 1096px #fff, 1831px 1865px #fff,
        1986px 1084px #fff, 97px 1757px #fff, 1514px 1612px #fff,
        1990px 1641px #fff, 257px 210px #fff, 1928px 865px #fff,
        1491px 1659px #fff, 264px 463px #fff, 305px 526px #fff, 942px 788px #fff,
        267px 256px #fff, 354px 371px #fff, 1099px 356px #fff,
        1959px 1265px #fff, 624px 1315px #fff, 1242px 919px #fff,
        1698px 1380px #fff, 574px 429px #fff, 1498px 1925px #fff,
        1278px 283px #fff, 447px 1240px #fff, 1146px 1162px #fff,
        1559px 894px #fff, 1449px 300px #fff, 772px 1310px #fff,
        1074px 845px #fff, 834px 349px #fff, 488px 169px #fff,
        1507px 1348px #fff, 1822px 1152px #fff, 678px 273px #fff,
        308px 433px #fff, 54px 617px #fff, 1605px 693px #fff, 471px 1506px #fff,
        1516px 1536px #fff, 1431px 1159px #fff, 48px 1518px #fff,
        1531px 963px #fff, 1049px 1604px #fff, 1293px 739px #fff,
        361px 1744px #fff, 1019px 625px #fff, 1679px 1479px #fff,
        551px 1377px #fff, 888px 236px #fff, 673px 1422px #fff,
        1721px 1481px #fff, 1444px 1597px #fff, 1915px 1250px #fff,
        1386px 16px #fff, 1805px 133px #fff, 1387px 1405px #fff,
        605px 1957px #fff, 1829px 1225px #fff, 410px 289px #fff,
        1604px 272px #fff, 1510px 1606px #fff, 1679px 1104px #fff,
        829px 1599px #fff, 1191px 154px #fff, 760px 526px #fff, 528px 659px #fff,
        1496px 464px #fff, 1508px 1916px #fff, 668px 1533px #fff,
        715px 481px #fff, 1875px 924px #fff, 916px 1122px #fff,
        1180px 116px #fff, 1356px 357px #fff, 1343px 998px #fff,
        1945px 947px #fff, 850px 672px #fff, 1474px 354px #fff,
        1406px 212px #fff, 1343px 1833px #fff, 831px 270px #fff,
        938px 1739px #fff, 1449px 1873px #fff, 691px 830px #fff,
        129px 1607px #fff, 349px 1248px #fff, 1336px 1120px #fff,
        1509px 1186px #fff, 1336px 1420px #fff, 1932px 919px #fff,
        1427px 1533px #fff, 1847px 383px #fff, 1122px 942px #fff,
        461px 221px #fff, 266px 1583px #fff, 1949px 180px #fff, 838px 613px #fff,
        1305px 589px #fff, 629px 1620px #fff, 934px 822px #fff,
        1686px 215px #fff, 1552px 785px #fff, 925px 1546px #fff,
        338px 660px #fff, 1423px 1802px #fff, 51px 248px #fff, 1709px 893px #fff,
        76px 1364px #fff, 1759px 73px #fff, 1792px 1161px #fff,
        1596px 681px #fff, 1903px 1908px #fff, 36px 1089px #fff,
        578px 970px #fff, 1452px 1037px #fff, 1282px 1159px #fff,
        1207px 1239px #fff, 581px 557px #fff, 1511px 556px #fff,
        1903px 907px #fff, 1607px 1426px #fff, 1827px 56px #fff,
        319px 625px #fff, 554px 1293px #fff, 14px 1499px #fff, 76px 1827px #fff,
        1118px 642px #fff, 1874px 713px #fff, 641px 259px #fff,
        1028px 1198px #fff, 1797px 1529px #fff, 1714px 1749px #fff,
        1180px 684px #fff, 1307px 342px #fff, 363px 981px #fff,
        847px 1943px #fff, 1166px 1443px #fff, 211px 598px #fff,
        1413px 1904px #fff, 1292px 1372px #fff, 1990px 464px #fff,
        1003px 1906px #fff, 170px 1397px #fff, 1309px 1667px #fff,
        1592px 638px #fff, 1436px 38px #fff, 637px 491px #fff, 4px 1130px #fff,
        1910px 821px #fff, 889px 1581px #fff, 1392px 460px #fff,
        725px 1249px #fff, 1132px 1883px #fff, 1721px 1183px #fff,
        125px 1568px #fff, 759px 1469px #fff, 528px 1313px #fff, 4px 1793px #fff,
        1679px 930px #fff, 642px 1511px #fff, 863px 1348px #fff,
        1312px 738px #fff, 984px 156px #fff, 112px 568px #fff, 1810px 492px #fff,
        1482px 1317px #fff, 1041px 1062px #fff, 1188px 1427px #fff,
        1619px 1531px #fff, 1550px 82px #fff, 662px 1639px #fff,
        1295px 1433px #fff, 592px 1344px #fff, 183px 567px #fff,
        1298px 497px #fff, 505px 1859px #fff, 1596px 855px #fff,
        1492px 933px #fff, 1551px 750px #fff, 976px 48px #fff, 217px 755px #fff,
        834px 614px #fff, 1129px 206px #fff, 1871px 163px #fff,
        395px 1225px #fff, 1113px 1501px #fff, 1893px 1079px #fff,
        1683px 825px #fff, 1939px 1515px #fff, 724px 1493px #fff,
        783px 1457px #fff, 666px 391px #fff, 1710px 1380px #fff,
        1479px 1566px #fff, 1007px 1601px #fff, 114px 1099px #fff,
        822px 1061px #fff, 921px 1628px #fff, 1119px 1055px #fff,
        219px 551px #fff, 1786px 1071px #fff, 909px 558px #fff,
        580px 1750px #fff, 1940px 534px #fff, 336px 1296px #fff,
        724px 459px #fff, 1626px 998px #fff, 619px 1984px #fff,
        1715px 1238px #fff, 888px 361px #fff, 374px 1685px #fff,
        1328px 57px #fff, 788px 1664px #fff, 1843px 1883px #fff,
        910px 296px #fff, 77px 1067px #fff, 1933px 588px #fff, 525px 297px #fff,
        1650px 1669px #fff, 442px 1884px #fff, 540px 241px #fff,
        1158px 445px #fff, 159px 1115px #fff, 1610px 335px #fff,
        942px 1244px #fff, 1523px 1720px #fff, 1395px 705px #fff,
        693px 493px #fff, 1931px 1576px #fff, 730px 873px #fff, 303px 811px #fff,
        1744px 267px #fff, 1922px 441px #fff, 379px 154px #fff, 77px 1756px #fff,
        1894px 627px #fff, 1129px 504px #fff, 57px 1203px #fff,
        181px 1621px #fff, 1292px 293px #fff, 238px 543px #fff, 422px 528px #fff,
        1846px 1825px #fff, 66px 42px #fff, 1121px 566px #fff, 1200px 892px #fff,
        173px 360px #fff, 1568px 1096px #fff, 1935px 1141px #fff,
        469px 1566px #fff, 1280px 410px #fff, 322px 993px #fff,
        286px 1516px #fff, 1625px 668px #fff, 1345px 734px #fff,
        185px 1264px #fff, 244px 1716px #fff, 1401px 336px #fff,
        808px 980px #fff, 394px 412px #fff, 141px 1890px #fff,
        1844px 1662px #fff, 1436px 1545px #fff, 1024px 1171px #fff,
        1145px 1220px #fff, 1633px 708px #fff;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: ' ';
    position: absolute;
    top: 100vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1186px 1672px #fff, 1121px 1350px #fff, 39px 1901px #fff,
        1756px 786px #fff, 1458px 1788px #fff, 1932px 1963px #fff,
        888px 1360px #fff, 499px 1053px #fff, 1344px 319px #fff,
        1477px 1882px #fff, 72px 540px #fff, 1324px 1403px #fff,
        1830px 1553px #fff, 1704px 1635px #fff, 631px 383px #fff,
        212px 1461px #fff, 1282px 954px #fff, 493px 777px #fff, 76px 1608px #fff,
        494px 710px #fff, 291px 1040px #fff, 736px 1648px #fff,
        1311px 1763px #fff, 578px 626px #fff, 773px 926px #fff,
        1598px 1019px #fff, 1249px 1364px #fff, 183px 1370px #fff,
        729px 530px #fff, 1902px 709px #fff, 717px 738px #fff, 1091px 367px #fff,
        933px 342px #fff, 830px 234px #fff, 1034px 349px #fff, 1056px 925px #fff,
        1835px 1877px #fff, 62px 1161px #fff, 360px 752px #fff,
        817px 1954px #fff, 1827px 76px #fff, 1344px 335px #fff,
        346px 1337px #fff, 607px 1232px #fff, 1689px 61px #fff,
        1545px 1964px #fff, 203px 1px #fff, 1212px 453px #fff, 1979px 216px #fff,
        273px 149px #fff, 42px 1923px #fff, 1008px 294px #fff,
        1386px 1694px #fff, 594px 53px #fff, 1953px 267px #fff, 513px 297px #fff,
        668px 876px #fff, 1264px 1867px #fff, 1496px 1159px #fff,
        1778px 654px #fff, 790px 1092px #fff, 1317px 1723px #fff,
        1006px 177px #fff, 839px 1236px #fff, 68px 272px #fff, 686px 702px #fff,
        1324px 186px #fff, 763px 1595px #fff, 1856px 1234px #fff,
        1691px 1431px #fff, 1421px 1540px #fff, 156px 1939px #fff,
        139px 1476px #fff, 1968px 697px #fff, 1488px 1495px #fff,
        895px 1528px #fff, 1321px 1463px #fff, 1670px 1315px #fff,
        1012px 1367px #fff, 150px 557px #fff, 1573px 771px #fff,
        313px 1337px #fff, 11px 18px #fff, 1659px 293px #fff, 1398px 276px #fff,
        1360px 279px #fff, 1409px 578px #fff, 663px 1295px #fff,
        1614px 1848px #fff, 411px 141px #fff, 1522px 381px #fff,
        1693px 172px #fff, 767px 1800px #fff, 1329px 1447px #fff,
        1362px 1091px #fff, 295px 2px #fff, 1207px 1661px #fff, 603px 961px #fff,
        1165px 1999px #fff, 1027px 1034px #fff, 1399px 47px #fff,
        589px 991px #fff, 1088px 1859px #fff, 731px 1144px #fff,
        2000px 1709px #fff, 384px 1588px #fff, 251px 162px #fff,
        397px 1247px #fff, 760px 718px #fff, 113px 1762px #fff, 792px 155px #fff,
        209px 773px #fff, 278px 1430px #fff, 1403px 1403px #fff,
        1973px 851px #fff, 696px 1599px #fff, 68px 1344px #fff, 1355px 64px #fff,
        1563px 1168px #fff, 1555px 1914px #fff, 1449px 394px #fff,
        631px 1106px #fff, 886px 1647px #fff, 1208px 1771px #fff,
        1655px 767px #fff, 1343px 977px #fff, 1359px 1942px #fff,
        1542px 1108px #fff, 1090px 435px #fff, 484px 539px #fff,
        1535px 312px #fff, 1592px 1163px #fff, 1646px 1282px #fff,
        1785px 797px #fff, 903px 653px #fff, 1781px 771px #fff,
        1730px 1430px #fff, 201px 910px #fff, 1379px 474px #fff,
        322px 1438px #fff, 1132px 331px #fff, 191px 1426px #fff,
        889px 1118px #fff, 1486px 910px #fff, 942px 278px #fff, 30px 795px #fff,
        1189px 1449px #fff, 743px 446px #fff, 1702px 1075px #fff,
        1470px 1242px #fff, 326px 1175px #fff, 485px 475px #fff,
        150px 934px #fff, 51px 1136px #fff, 1055px 967px #fff,
        1539px 1629px #fff, 1210px 1621px #fff, 568px 80px #fff,
        1139px 809px #fff, 879px 22px #fff, 1993px 1602px #fff,
        1749px 1105px #fff, 477px 105px #fff, 890px 84px #fff, 166px 97px #fff,
        1443px 745px #fff, 357px 544px #fff, 1475px 1141px #fff, 1703px 8px #fff,
        1105px 1909px #fff, 829px 800px #fff, 480px 822px #fff,
        1072px 497px #fff, 974px 967px #fff, 231px 1920px #fff,
        1702px 138px #fff, 892px 810px #fff, 292px 133px #fff,
        1247px 1152px #fff, 633px 641px #fff, 268px 833px #fff,
        1306px 1505px #fff, 764px 228px #fff, 1569px 1058px #fff,
        317px 1824px #fff, 260px 426px #fff, 1665px 737px #fff, 310px 808px #fff,
        946px 1290px #fff, 890px 37px #fff, 2px 1989px #fff, 1610px 696px #fff,
        1974px 1882px #fff, 562px 1345px #fff, 1041px 659px #fff,
        1473px 879px #fff, 1104px 691px #fff, 205px 1545px #fff,
        1238px 1900px #fff, 1813px 1459px #fff, 893px 1420px #fff,
        1565px 991px #fff, 995px 424px #fff, 833px 9px #fff, 1284px 1071px #fff,
        768px 1646px #fff, 1975px 1461px #fff, 980px 349px #fff,
        207px 1018px #fff, 1254px 1496px #fff, 1941px 899px #fff,
        1688px 675px #fff, 717px 1651px #fff, 1111px 1557px #fff,
        666px 1583px #fff, 902px 1696px #fff, 1714px 1714px #fff,
        323px 1936px #fff, 753px 938px #fff, 1354px 207px #fff,
        808px 1467px #fff, 1068px 1668px #fff, 345px 1180px #fff,
        1137px 1386px #fff, 1731px 961px #fff, 194px 845px #fff,
        1525px 1321px #fff, 566px 523px #fff, 462px 1723px #fff,
        465px 1873px #fff, 1728px 143px #fff, 689px 164px #fff, 9px 666px #fff,
        263px 1480px #fff, 550px 745px #fff, 418px 454px #fff, 463px 757px #fff,
        507px 1977px #fff, 1785px 537px #fff, 919px 225px #fff,
        1752px 565px #fff, 873px 1412px #fff, 1002px 1654px #fff,
        770px 1979px #fff, 216px 61px #fff, 1798px 702px #fff, 531px 1742px #fff,
        771px 654px #fff, 198px 1337px #fff, 421px 1368px #fff,
        626px 1276px #fff, 844px 934px #fff, 719px 1583px #fff,
        1557px 306px #fff, 918px 623px #fff, 1448px 1214px #fff,
        1800px 1067px #fff, 1510px 1453px #fff, 858px 423px #fff,
        1338px 1770px #fff, 1440px 1500px #fff, 668px 224px #fff,
        1688px 1876px #fff, 1170px 1576px #fff, 1747px 744px #fff,
        373px 1637px #fff, 814px 1726px #fff, 1189px 791px #fff, 17px 742px #fff,
        1406px 1517px #fff, 360px 110px #fff, 486px 1246px #fff,
        1733px 1055px #fff, 982px 1323px #fff, 1659px 333px #fff,
        1434px 692px #fff, 1806px 1799px #fff, 854px 387px #fff,
        1166px 24px #fff, 139px 1556px #fff, 1470px 681px #fff,
        1625px 829px #fff, 1522px 749px #fff, 1993px 1477px #fff,
        1345px 1643px #fff, 1671px 363px #fff, 481px 1351px #fff,
        1401px 1730px #fff, 1702px 188px #fff, 1358px 44px #fff,
        886px 1250px #fff, 1907px 1029px #fff, 1523px 656px #fff,
        817px 891px #fff, 328px 237px #fff, 749px 1052px #fff, 1057px 165px #fff,
        1368px 120px #fff, 998px 310px #fff, 515px 1611px #fff,
        393px 1634px #fff, 544px 214px #fff, 1985px 838px #fff,
        1985px 1521px #fff, 1286px 309px #fff, 320px 1287px #fff,
        1967px 1199px #fff, 1415px 1479px #fff, 1044px 985px #fff,
        1839px 277px #fff, 1730px 1198px #fff, 552px 1976px #fff,
        1561px 1168px #fff, 1714px 32px #fff, 1075px 881px #fff,
        356px 1212px #fff, 808px 879px #fff, 639px 820px #fff, 1139px 14px #fff,
        958px 978px #fff, 1430px 1891px #fff, 921px 406px #fff,
        1596px 1496px #fff, 812px 782px #fff, 401px 1285px #fff,
        186px 1920px #fff, 1693px 1938px #fff, 1735px 1916px #fff,
        1557px 1322px #fff, 121px 1256px #fff, 1981px 1999px #fff,
        1880px 1894px #fff, 1036px 373px #fff, 568px 1124px #fff,
        100px 1686px #fff, 1205px 729px #fff, 1837px 1051px #fff,
        816px 20px #fff, 335px 188px #fff, 826px 1479px #fff, 10px 1785px #fff,
        1645px 1212px #fff, 444px 1360px #fff, 318px 814px #fff,
        668px 1401px #fff, 220px 1452px #fff, 1274px 391px #fff,
        1952px 621px #fff, 1010px 1867px #fff, 132px 886px #fff,
        627px 832px #fff, 838px 193px #fff, 525px 1732px #fff,
        1999px 1675px #fff, 429px 1218px #fff, 172px 603px #fff,
        1129px 1435px #fff, 371px 1955px #fff, 75px 1193px #fff,
        1374px 1281px #fff, 872px 87px #fff, 164px 49px #fff, 1750px 150px #fff,
        1254px 220px #fff, 1760px 1150px #fff, 483px 1106px #fff,
        1865px 1445px #fff, 1333px 309px #fff, 828px 722px #fff,
        1451px 1087px #fff, 914px 1857px #fff, 1048px 979px #fff,
        1494px 1232px #fff, 427px 968px #fff, 671px 1358px #fff,
        1758px 758px #fff, 896px 1383px #fff, 210px 1380px #fff,
        816px 210px #fff, 285px 333px #fff, 542px 677px #fff, 1464px 97px #fff,
        1811px 388px #fff, 95px 883px #fff, 333px 227px #fff, 189px 623px #fff,
        1463px 1863px #fff, 1248px 512px #fff, 159px 40px #fff,
        390px 1400px #fff, 1534px 476px #fff, 54px 449px #fff, 970px 560px #fff,
        1553px 1626px #fff, 237px 912px #fff, 1123px 1606px #fff, 7px 395px #fff,
        1536px 672px #fff, 158px 1604px #fff, 420px 787px #fff,
        569px 1667px #fff, 1868px 1249px #fff, 1888px 1043px #fff,
        1482px 1862px #fff, 545px 991px #fff, 1194px 1172px #fff,
        1329px 158px #fff, 1860px 1477px #fff, 768px 1252px #fff,
        173px 456px #fff, 1486px 1504px #fff, 918px 1856px #fff,
        1417px 825px #fff, 1868px 6px #fff, 1332px 1406px #fff, 794px 51px #fff,
        3px 1948px #fff, 307px 529px #fff, 590px 1138px #fff, 600px 933px #fff,
        1254px 1307px #fff, 505px 823px #fff, 468px 183px #fff, 321px 255px #fff,
        1751px 1943px #fff, 1224px 217px #fff, 1071px 987px #fff,
        456px 1192px #fff, 819px 570px #fff, 699px 1255px #fff, 40px 918px #fff,
        923px 1653px #fff, 424px 286px #fff, 1432px 1639px #fff,
        1672px 1877px #fff, 868px 1096px #fff, 1831px 1865px #fff,
        1986px 1084px #fff, 97px 1757px #fff, 1514px 1612px #fff,
        1990px 1641px #fff, 257px 210px #fff, 1928px 865px #fff,
        1491px 1659px #fff, 264px 463px #fff, 305px 526px #fff, 942px 788px #fff,
        267px 256px #fff, 354px 371px #fff, 1099px 356px #fff,
        1959px 1265px #fff, 624px 1315px #fff, 1242px 919px #fff,
        1698px 1380px #fff, 574px 429px #fff, 1498px 1925px #fff,
        1278px 283px #fff, 447px 1240px #fff, 1146px 1162px #fff,
        1559px 894px #fff, 1449px 300px #fff, 772px 1310px #fff,
        1074px 845px #fff, 834px 349px #fff, 488px 169px #fff,
        1507px 1348px #fff, 1822px 1152px #fff, 678px 273px #fff,
        308px 433px #fff, 54px 617px #fff, 1605px 693px #fff, 471px 1506px #fff,
        1516px 1536px #fff, 1431px 1159px #fff, 48px 1518px #fff,
        1531px 963px #fff, 1049px 1604px #fff, 1293px 739px #fff,
        361px 1744px #fff, 1019px 625px #fff, 1679px 1479px #fff,
        551px 1377px #fff, 888px 236px #fff, 673px 1422px #fff,
        1721px 1481px #fff, 1444px 1597px #fff, 1915px 1250px #fff,
        1386px 16px #fff, 1805px 133px #fff, 1387px 1405px #fff,
        605px 1957px #fff, 1829px 1225px #fff, 410px 289px #fff,
        1604px 272px #fff, 1510px 1606px #fff, 1679px 1104px #fff,
        829px 1599px #fff, 1191px 154px #fff, 760px 526px #fff, 528px 659px #fff,
        1496px 464px #fff, 1508px 1916px #fff, 668px 1533px #fff,
        715px 481px #fff, 1875px 924px #fff, 916px 1122px #fff,
        1180px 116px #fff, 1356px 357px #fff, 1343px 998px #fff,
        1945px 947px #fff, 850px 672px #fff, 1474px 354px #fff,
        1406px 212px #fff, 1343px 1833px #fff, 831px 270px #fff,
        938px 1739px #fff, 1449px 1873px #fff, 691px 830px #fff,
        129px 1607px #fff, 349px 1248px #fff, 1336px 1120px #fff,
        1509px 1186px #fff, 1336px 1420px #fff, 1932px 919px #fff,
        1427px 1533px #fff, 1847px 383px #fff, 1122px 942px #fff,
        461px 221px #fff, 266px 1583px #fff, 1949px 180px #fff, 838px 613px #fff,
        1305px 589px #fff, 629px 1620px #fff, 934px 822px #fff,
        1686px 215px #fff, 1552px 785px #fff, 925px 1546px #fff,
        338px 660px #fff, 1423px 1802px #fff, 51px 248px #fff, 1709px 893px #fff,
        76px 1364px #fff, 1759px 73px #fff, 1792px 1161px #fff,
        1596px 681px #fff, 1903px 1908px #fff, 36px 1089px #fff,
        578px 970px #fff, 1452px 1037px #fff, 1282px 1159px #fff,
        1207px 1239px #fff, 581px 557px #fff, 1511px 556px #fff,
        1903px 907px #fff, 1607px 1426px #fff, 1827px 56px #fff,
        319px 625px #fff, 554px 1293px #fff, 14px 1499px #fff, 76px 1827px #fff,
        1118px 642px #fff, 1874px 713px #fff, 641px 259px #fff,
        1028px 1198px #fff, 1797px 1529px #fff, 1714px 1749px #fff,
        1180px 684px #fff, 1307px 342px #fff, 363px 981px #fff,
        847px 1943px #fff, 1166px 1443px #fff, 211px 598px #fff,
        1413px 1904px #fff, 1292px 1372px #fff, 1990px 464px #fff,
        1003px 1906px #fff, 170px 1397px #fff, 1309px 1667px #fff,
        1592px 638px #fff, 1436px 38px #fff, 637px 491px #fff, 4px 1130px #fff,
        1910px 821px #fff, 889px 1581px #fff, 1392px 460px #fff,
        725px 1249px #fff, 1132px 1883px #fff, 1721px 1183px #fff,
        125px 1568px #fff, 759px 1469px #fff, 528px 1313px #fff, 4px 1793px #fff,
        1679px 930px #fff, 642px 1511px #fff, 863px 1348px #fff,
        1312px 738px #fff, 984px 156px #fff, 112px 568px #fff, 1810px 492px #fff,
        1482px 1317px #fff, 1041px 1062px #fff, 1188px 1427px #fff,
        1619px 1531px #fff, 1550px 82px #fff, 662px 1639px #fff,
        1295px 1433px #fff, 592px 1344px #fff, 183px 567px #fff,
        1298px 497px #fff, 505px 1859px #fff, 1596px 855px #fff,
        1492px 933px #fff, 1551px 750px #fff, 976px 48px #fff, 217px 755px #fff,
        834px 614px #fff, 1129px 206px #fff, 1871px 163px #fff,
        395px 1225px #fff, 1113px 1501px #fff, 1893px 1079px #fff,
        1683px 825px #fff, 1939px 1515px #fff, 724px 1493px #fff,
        783px 1457px #fff, 666px 391px #fff, 1710px 1380px #fff,
        1479px 1566px #fff, 1007px 1601px #fff, 114px 1099px #fff,
        822px 1061px #fff, 921px 1628px #fff, 1119px 1055px #fff,
        219px 551px #fff, 1786px 1071px #fff, 909px 558px #fff,
        580px 1750px #fff, 1940px 534px #fff, 336px 1296px #fff,
        724px 459px #fff, 1626px 998px #fff, 619px 1984px #fff,
        1715px 1238px #fff, 888px 361px #fff, 374px 1685px #fff,
        1328px 57px #fff, 788px 1664px #fff, 1843px 1883px #fff,
        910px 296px #fff, 77px 1067px #fff, 1933px 588px #fff, 525px 297px #fff,
        1650px 1669px #fff, 442px 1884px #fff, 540px 241px #fff,
        1158px 445px #fff, 159px 1115px #fff, 1610px 335px #fff,
        942px 1244px #fff, 1523px 1720px #fff, 1395px 705px #fff,
        693px 493px #fff, 1931px 1576px #fff, 730px 873px #fff, 303px 811px #fff,
        1744px 267px #fff, 1922px 441px #fff, 379px 154px #fff, 77px 1756px #fff,
        1894px 627px #fff, 1129px 504px #fff, 57px 1203px #fff,
        181px 1621px #fff, 1292px 293px #fff, 238px 543px #fff, 422px 528px #fff,
        1846px 1825px #fff, 66px 42px #fff, 1121px 566px #fff, 1200px 892px #fff,
        173px 360px #fff, 1568px 1096px #fff, 1935px 1141px #fff,
        469px 1566px #fff, 1280px 410px #fff, 322px 993px #fff,
        286px 1516px #fff, 1625px 668px #fff, 1345px 734px #fff,
        185px 1264px #fff, 244px 1716px #fff, 1401px 336px #fff,
        808px 980px #fff, 394px 412px #fff, 141px 1890px #fff,
        1844px 1662px #fff, 1436px 1545px #fff, 1024px 1171px #fff,
        1145px 1220px #fff, 1633px 708px #fff;
}
#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 202px 875px #fff, 385px 711px #fff, 765px 1799px #fff,
        975px 827px #fff, 666px 1263px #fff, 133px 1244px #fff,
        893px 1153px #fff, 376px 1923px #fff, 846px 1921px #fff,
        1119px 716px #fff, 1618px 1549px #fff, 1411px 914px #fff,
        1535px 37px #fff, 1252px 823px #fff, 436px 1652px #fff, 6px 489px #fff,
        1816px 1925px #fff, 348px 1220px #fff, 4px 1378px #fff, 925px 503px #fff,
        1094px 1654px #fff, 653px 1298px #fff, 1459px 693px #fff,
        1542px 89px #fff, 1010px 108px #fff, 1487px 1488px #fff,
        1435px 896px #fff, 728px 1210px #fff, 875px 1581px #fff,
        1673px 673px #fff, 951px 814px #fff, 1052px 885px #fff,
        1315px 1043px #fff, 16px 609px #fff, 1192px 732px #fff,
        1243px 1869px #fff, 990px 1147px #fff, 1087px 1821px #fff,
        1052px 939px #fff, 1080px 692px #fff, 1901px 1981px #fff,
        1621px 462px #fff, 1464px 1707px #fff, 412px 1559px #fff,
        1698px 1064px #fff, 165px 1170px #fff, 766px 1365px #fff,
        44px 1912px #fff, 1646px 1026px #fff, 1687px 1511px #fff,
        1060px 1813px #fff, 46px 1453px #fff, 1904px 1590px #fff,
        1539px 1665px #fff, 1421px 349px #fff, 973px 878px #fff,
        285px 1084px #fff, 24px 1423px #fff, 608px 604px #fff,
        1085px 1187px #fff, 358px 152px #fff, 1430px 413px #fff,
        1663px 143px #fff, 1858px 453px #fff, 1417px 401px #fff,
        1610px 937px #fff, 1771px 896px #fff, 998px 748px #fff,
        1204px 1201px #fff, 1400px 1752px #fff, 1018px 1149px #fff,
        1555px 934px #fff, 1301px 198px #fff, 1521px 354px #fff,
        814px 1317px #fff, 1082px 1823px #fff, 563px 774px #fff,
        1257px 1996px #fff, 1159px 813px #fff, 1566px 1078px #fff,
        1099px 685px #fff, 749px 786px #fff, 409px 97px #fff, 1124px 597px #fff,
        1998px 1530px #fff, 1848px 762px #fff, 897px 16px #fff, 325px 95px #fff,
        122px 497px #fff, 1055px 351px #fff, 1091px 713px #fff, 796px 646px #fff,
        1386px 49px #fff, 1172px 1909px #fff, 1741px 474px #fff,
        208px 1673px #fff, 1293px 1280px #fff, 1900px 9px #fff,
        1765px 327px #fff, 809px 976px #fff, 1443px 1103px #fff,
        1779px 976px #fff, 946px 1226px #fff, 1697px 1669px #fff,
        1334px 982px #fff, 1010px 221px #fff, 1500px 1332px #fff,
        1871px 1148px #fff, 1213px 950px #fff, 1732px 364px #fff,
        1154px 578px #fff, 1904px 1327px #fff, 1330px 1725px #fff,
        1659px 990px #fff, 822px 1046px #fff, 307px 1271px #fff,
        1594px 1497px #fff, 1831px 228px #fff, 1474px 908px #fff,
        577px 114px #fff, 410px 827px #fff, 172px 145px #fff, 1079px 1308px #fff,
        403px 1821px #fff, 331px 301px #fff, 697px 1495px #fff,
        469px 1292px #fff, 664px 538px #fff, 46px 154px #fff, 80px 1518px #fff,
        1890px 622px #fff, 1276px 1168px #fff, 1534px 601px #fff,
        1068px 504px #fff, 1318px 204px #fff, 1179px 1621px #fff,
        202px 1849px #fff, 155px 1684px #fff, 665px 211px #fff,
        1844px 1195px #fff, 1027px 1960px #fff, 1411px 1970px #fff,
        1237px 24px #fff, 764px 1061px #fff, 1443px 1892px #fff,
        1400px 106px #fff, 1923px 1781px #fff, 956px 1283px #fff,
        1526px 375px #fff, 683px 374px #fff, 1238px 1298px #fff,
        1366px 519px #fff, 209px 747px #fff, 674px 965px #fff,
        1436px 1606px #fff, 1466px 585px #fff, 1049px 874px #fff,
        1927px 53px #fff, 634px 325px #fff, 361px 767px #fff, 1957px 1700px #fff,
        347px 1201px #fff, 1356px 1169px #fff, 1051px 663px #fff,
        914px 809px #fff, 1174px 1455px #fff, 1208px 433px #fff,
        929px 284px #fff, 738px 1886px #fff, 1105px 1354px #fff, 1743px 9px #fff,
        1612px 977px #fff, 506px 1883px #fff, 1541px 768px #fff,
        1873px 1935px #fff, 1643px 589px #fff, 317px 1391px #fff,
        1031px 485px #fff, 1925px 991px #fff, 1166px 1634px #fff,
        78px 453px #fff, 1807px 801px #fff, 1796px 1471px #fff, 14px 116px #fff,
        1824px 329px #fff, 1173px 1091px #fff, 962px 111px #fff,
        430px 1886px #fff, 260px 702px #fff, 1699px 1432px #fff,
        326px 880px #fff, 973px 1952px #fff, 1136px 802px #fff, 961px 560px #fff,
        1439px 1701px #fff, 559px 584px #fff, 1699px 870px #fff,
        355px 860px #fff, 761px 127px #fff, 1321px 485px #fff;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: ' ';
    position: absolute;
    top: 100vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 202px 875px #fff, 385px 711px #fff, 765px 1799px #fff,
        975px 827px #fff, 666px 1263px #fff, 133px 1244px #fff,
        893px 1153px #fff, 376px 1923px #fff, 846px 1921px #fff,
        1119px 716px #fff, 1618px 1549px #fff, 1411px 914px #fff,
        1535px 37px #fff, 1252px 823px #fff, 436px 1652px #fff, 6px 489px #fff,
        1816px 1925px #fff, 348px 1220px #fff, 4px 1378px #fff, 925px 503px #fff,
        1094px 1654px #fff, 653px 1298px #fff, 1459px 693px #fff,
        1542px 89px #fff, 1010px 108px #fff, 1487px 1488px #fff,
        1435px 896px #fff, 728px 1210px #fff, 875px 1581px #fff,
        1673px 673px #fff, 951px 814px #fff, 1052px 885px #fff,
        1315px 1043px #fff, 16px 609px #fff, 1192px 732px #fff,
        1243px 1869px #fff, 990px 1147px #fff, 1087px 1821px #fff,
        1052px 939px #fff, 1080px 692px #fff, 1901px 1981px #fff,
        1621px 462px #fff, 1464px 1707px #fff, 412px 1559px #fff,
        1698px 1064px #fff, 165px 1170px #fff, 766px 1365px #fff,
        44px 1912px #fff, 1646px 1026px #fff, 1687px 1511px #fff,
        1060px 1813px #fff, 46px 1453px #fff, 1904px 1590px #fff,
        1539px 1665px #fff, 1421px 349px #fff, 973px 878px #fff,
        285px 1084px #fff, 24px 1423px #fff, 608px 604px #fff,
        1085px 1187px #fff, 358px 152px #fff, 1430px 413px #fff,
        1663px 143px #fff, 1858px 453px #fff, 1417px 401px #fff,
        1610px 937px #fff, 1771px 896px #fff, 998px 748px #fff,
        1204px 1201px #fff, 1400px 1752px #fff, 1018px 1149px #fff,
        1555px 934px #fff, 1301px 198px #fff, 1521px 354px #fff,
        814px 1317px #fff, 1082px 1823px #fff, 563px 774px #fff,
        1257px 1996px #fff, 1159px 813px #fff, 1566px 1078px #fff,
        1099px 685px #fff, 749px 786px #fff, 409px 97px #fff, 1124px 597px #fff,
        1998px 1530px #fff, 1848px 762px #fff, 897px 16px #fff, 325px 95px #fff,
        122px 497px #fff, 1055px 351px #fff, 1091px 713px #fff, 796px 646px #fff,
        1386px 49px #fff, 1172px 1909px #fff, 1741px 474px #fff,
        208px 1673px #fff, 1293px 1280px #fff, 1900px 9px #fff,
        1765px 327px #fff, 809px 976px #fff, 1443px 1103px #fff,
        1779px 976px #fff, 946px 1226px #fff, 1697px 1669px #fff,
        1334px 982px #fff, 1010px 221px #fff, 1500px 1332px #fff,
        1871px 1148px #fff, 1213px 950px #fff, 1732px 364px #fff,
        1154px 578px #fff, 1904px 1327px #fff, 1330px 1725px #fff,
        1659px 990px #fff, 822px 1046px #fff, 307px 1271px #fff,
        1594px 1497px #fff, 1831px 228px #fff, 1474px 908px #fff,
        577px 114px #fff, 410px 827px #fff, 172px 145px #fff, 1079px 1308px #fff,
        403px 1821px #fff, 331px 301px #fff, 697px 1495px #fff,
        469px 1292px #fff, 664px 538px #fff, 46px 154px #fff, 80px 1518px #fff,
        1890px 622px #fff, 1276px 1168px #fff, 1534px 601px #fff,
        1068px 504px #fff, 1318px 204px #fff, 1179px 1621px #fff,
        202px 1849px #fff, 155px 1684px #fff, 665px 211px #fff,
        1844px 1195px #fff, 1027px 1960px #fff, 1411px 1970px #fff,
        1237px 24px #fff, 764px 1061px #fff, 1443px 1892px #fff,
        1400px 106px #fff, 1923px 1781px #fff, 956px 1283px #fff,
        1526px 375px #fff, 683px 374px #fff, 1238px 1298px #fff,
        1366px 519px #fff, 209px 747px #fff, 674px 965px #fff,
        1436px 1606px #fff, 1466px 585px #fff, 1049px 874px #fff,
        1927px 53px #fff, 634px 325px #fff, 361px 767px #fff, 1957px 1700px #fff,
        347px 1201px #fff, 1356px 1169px #fff, 1051px 663px #fff,
        914px 809px #fff, 1174px 1455px #fff, 1208px 433px #fff,
        929px 284px #fff, 738px 1886px #fff, 1105px 1354px #fff, 1743px 9px #fff,
        1612px 977px #fff, 506px 1883px #fff, 1541px 768px #fff,
        1873px 1935px #fff, 1643px 589px #fff, 317px 1391px #fff,
        1031px 485px #fff, 1925px 991px #fff, 1166px 1634px #fff,
        78px 453px #fff, 1807px 801px #fff, 1796px 1471px #fff, 14px 116px #fff,
        1824px 329px #fff, 1173px 1091px #fff, 962px 111px #fff,
        430px 1886px #fff, 260px 702px #fff, 1699px 1432px #fff,
        326px 880px #fff, 973px 1952px #fff, 1136px 802px #fff, 961px 560px #fff,
        1439px 1701px #fff, 559px 584px #fff, 1699px 870px #fff,
        355px 860px #fff, 761px 127px #fff, 1321px 485px #fff;
}
#stars3 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 1114px 791px #fff, 171px 1462px #fff, 1004px 80px #fff,
        344px 662px #fff, 1668px 757px #fff, 614px 1765px #fff,
        1276px 1912px #fff, 109px 724px #fff, 29px 1134px #fff, 317px 867px #fff,
        851px 747px #fff, 1205px 949px #fff, 592px 1173px #fff,
        1094px 155px #fff, 796px 665px #fff, 911px 1610px #fff,
        1921px 1286px #fff, 1885px 1745px #fff, 288px 1161px #fff,
        1186px 1281px #fff, 62px 1208px #fff, 159px 1107px #fff,
        154px 264px #fff, 1636px 1981px #fff, 876px 1526px #fff,
        1294px 1485px #fff, 68px 110px #fff, 1479px 1450px #fff,
        1849px 1787px #fff, 1422px 1674px #fff, 960px 1427px #fff,
        393px 1842px #fff, 443px 1816px #fff, 433px 1142px #fff,
        1527px 565px #fff, 1721px 1262px #fff, 891px 809px #fff,
        248px 548px #fff, 1774px 656px #fff, 661px 273px #fff, 463px 1972px #fff,
        1290px 526px #fff, 1851px 884px #fff, 188px 432px #fff,
        1054px 824px #fff, 1213px 1475px #fff, 1715px 673px #fff,
        537px 855px #fff, 528px 1990px #fff, 1499px 1375px #fff,
        512px 1023px #fff, 853px 345px #fff, 1726px 1474px #fff,
        1451px 39px #fff, 171px 850px #fff, 1822px 449px #fff, 921px 278px #fff,
        1777px 1118px #fff, 1408px 204px #fff, 1936px 1437px #fff,
        470px 458px #fff, 1247px 686px #fff, 1927px 251px #fff, 277px 368px #fff,
        381px 1584px #fff, 1947px 80px #fff, 816px 119px #fff, 131px 1019px #fff,
        623px 459px #fff, 523px 443px #fff, 982px 1187px #fff,
        1024px 1924px #fff, 123px 217px #fff, 1984px 1649px #fff,
        1152px 1574px #fff, 304px 75px #fff, 169px 408px #fff,
        1942px 1467px #fff, 977px 74px #fff, 1423px 979px #fff,
        1105px 1885px #fff, 1453px 702px #fff, 1037px 1416px #fff,
        1661px 944px #fff, 768px 78px #fff, 1296px 237px #fff, 1252px 834px #fff,
        1658px 1033px #fff, 442px 123px #fff, 268px 1659px #fff, 244px 21px #fff,
        1109px 795px #fff, 510px 1279px #fff, 1358px 1917px #fff,
        1109px 219px #fff, 944px 1411px #fff, 88px 1818px #fff, 51px 1421px #fff,
        1591px 1466px #fff, 1405px 551px #fff;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: ' ';
    position: absolute;
    top: 100vh;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1114px 791px #fff, 171px 1462px #fff, 1004px 80px #fff,
        344px 662px #fff, 1668px 757px #fff, 614px 1765px #fff,
        1276px 1912px #fff, 109px 724px #fff, 29px 1134px #fff, 317px 867px #fff,
        851px 747px #fff, 1205px 949px #fff, 592px 1173px #fff,
        1094px 155px #fff, 796px 665px #fff, 911px 1610px #fff,
        1921px 1286px #fff, 1885px 1745px #fff, 288px 1161px #fff,
        1186px 1281px #fff, 62px 1208px #fff, 159px 1107px #fff,
        154px 264px #fff, 1636px 1981px #fff, 876px 1526px #fff,
        1294px 1485px #fff, 68px 110px #fff, 1479px 1450px #fff,
        1849px 1787px #fff, 1422px 1674px #fff, 960px 1427px #fff,
        393px 1842px #fff, 443px 1816px #fff, 433px 1142px #fff,
        1527px 565px #fff, 1721px 1262px #fff, 891px 809px #fff,
        248px 548px #fff, 1774px 656px #fff, 661px 273px #fff, 463px 1972px #fff,
        1290px 526px #fff, 1851px 884px #fff, 188px 432px #fff,
        1054px 824px #fff, 1213px 1475px #fff, 1715px 673px #fff,
        537px 855px #fff, 528px 1990px #fff, 1499px 1375px #fff,
        512px 1023px #fff, 853px 345px #fff, 1726px 1474px #fff,
        1451px 39px #fff, 171px 850px #fff, 1822px 449px #fff, 921px 278px #fff,
        1777px 1118px #fff, 1408px 204px #fff, 1936px 1437px #fff,
        470px 458px #fff, 1247px 686px #fff, 1927px 251px #fff, 277px 368px #fff,
        381px 1584px #fff, 1947px 80px #fff, 816px 119px #fff, 131px 1019px #fff,
        623px 459px #fff, 523px 443px #fff, 982px 1187px #fff,
        1024px 1924px #fff, 123px 217px #fff, 1984px 1649px #fff,
        1152px 1574px #fff, 304px 75px #fff, 169px 408px #fff,
        1942px 1467px #fff, 977px 74px #fff, 1423px 979px #fff,
        1105px 1885px #fff, 1453px 702px #fff, 1037px 1416px #fff,
        1661px 944px #fff, 768px 78px #fff, 1296px 237px #fff, 1252px 834px #fff,
        1658px 1033px #fff, 442px 123px #fff, 268px 1659px #fff, 244px 21px #fff,
        1109px 795px #fff, 510px 1279px #fff, 1358px 1917px #fff,
        1109px 219px #fff, 944px 1411px #fff, 88px 1818px #fff, 51px 1421px #fff,
        1591px 1466px #fff, 1405px 551px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-100vh);
    }
}
