@font-face {
  font-family: Nasalization;
  src: url(../fonts/nasalization-rg.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');

*{
  font-family: 'Saira', sans-serif;
  color: #ffffff;
}

body{ 
  background-image: url(../images/bg.svg);
  background-size: cover;
  color: rgb(255, 255, 255);
}

.data-underline{
  font-family: 'Saira', sans-serif;
  border-bottom: 5px solid;
  border-image: linear-gradient(to left, #48B1CB, #0F5CCC,  #AC48A9) 1;
}

.heading h1{
  font-size: 4rem;
  letter-spacing: 4px;
  font-family: 'Saira', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #030f33;
  background: linear-gradient(#48B1CB 15%, #0F5CCC 55%,  #AC48A9 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}



@media screen and (max-width: 768px) {
  .heading h1{
      font-size: 3rem;
      letter-spacing: 2px;
  }
}

.box{
  background: rgba(0, 0, 0, 0.35);
  border: 5px solid;
  border-image: linear-gradient(to right, #48B1CB, #0F5CCC,  #AC48A9) 1;
  border-radius: 20px;
  background-color: rgba(10, 10, 10, 0.2);
}

.box{
  background-color: rgba(0, 0, 0, 0.30);
}

.box h5{
  font-size: 18px;
}

