@font-face {
  font-family: Nasalization;
  src: url(../fonts/nasalization-rg.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');

*{
  font-family: 'Saira', sans-serif;
  color: #ffffff;
}

body{ 
  background-image: url(../images/bg.svg);
  color: rgb(255, 255, 255);
  height: 100%;
}

h1{
  font-size: 4rem;
  letter-spacing: 4px;
  font-family: 'Saira', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #030f33;
  background: linear-gradient(#48B1CB 15%, #0F5CCC 55%,  #AC48A9 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

h2{
  color: white;
  letter-spacing: 1px;
  font-family: 'Saira', sans-serif;
  text-align: center;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #48B1CB, #0F5CCC,  #AC48A9) 1;
}


.mInfo-main {
  width: 100%;
  overflow: hidden;
}
.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
}
/* Common for multiple portions */

.event-name,
.event-info,
.event-generalrules,
.round-info,
.event-prize,
.event-registeration {
  height: fit-content;
  color: white;
  display: flex;
  flex-direction: column;
}
.round-display-toggle {
  display: none;
}
.event-image {
  justify-content: center;
  align-items: center;
  /* border:1px solid white; */
}
.event-image img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}



@keyframes btn-registeration-animation {
  100% {
    border: 2px solid transparent;
  }
  75% {
    border: 2px solid rgba(255, 255, 255, 0.151);
  }
  50% {
    border: 2px solid rgba(255, 255, 255, 0.507);
  }
  25% {
    border: 2px solid rgba(255, 255, 255, 0.774);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

p {
  padding-bottom: 5px;
}

.mInfo-main ul{
  list-style-type: none !important;
}


a {
  text-decoration: none;
  color: white;
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .btn-registeration,
  .round-heading {
    width: fit-content;
  }
  body {
    overflow-x: hidden;
  }
  .event-image {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}


.event-registeration .btn{
  height: 45px;
  border-radius: 20px;
  width: 25%;
  font-weight: bold;
  min-width: 100px;
}