@font-face {
    font-family: Nasalization;
    src: url(../fonts/nasalization-rg.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
* {
    font-family: "Saira", sans-serif;
    color: #ffffff;
}
  
body {
    background-image: url(../../images/iohuntbg.jpg);
    color: rgb(255, 255, 255);
}

input{
    display: block;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-radius: 10px !important;
    color: #ffffff !important;
}


.custbtn{
    border: 3px solid;
    border-image: linear-gradient(to left, #48B1CB, #0F5CCC,  #AC48A9) 1;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .custbtn:hover{
    transition: all 0.10s ease-in;
    background-color: black;
    transform: scale(1.05);
  }

  .data-underline{
    font-family: 'Saira', sans-serif;
    border-bottom: 5px solid;
    border-image: linear-gradient(to left, #48B1CB, #0F5CCC,  #AC48A9) 1;
  }
  